{% extends 'admin/base-fullscreen.html' %}
{% load i18n static admin_volt %}

{% block title %} Sign UP {% endblock %}
{% block content %}
<main>
	<section class="m-3 bg-soft d-flex align-items-center">
		<div class="container">
			<div class="row justify-content-center form-bg-image"
				 data-background-lg="{% static 'admin_volt/assets/img/illustrations/signin.svg' %}">
				<div class="col-12 d-flex align-items-center justify-content-center">
					<div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
						<div class="text-center text-md-center mb-4 mt-md-0">
							<h1 class="mb-0 h3">Register as Customer</h1>
						</div>
						<form method="post" action="{{ app_path }}" class="mt-4">
							{% csrf_token %}
							{% load crispy_forms_tags %}
							{{ form|crispy }}
							<div class="mt-4 d-grid">
								<button type="submit" name="login" class="btn btn-gray-800">Register</button>
							</div>
							<div class="d-flex justify-content-between align-items-top m-2">
								<div>
									<a href="{% url 'admin:login' %}" class="small text-right">{% trans 'Already Have an account? Login Here!' %}</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}

{% block extrascript %}
    <script type="application/javascript">
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					notification.danger("{{ error|clean_text }}", 'top', 'right');
				{% endfor %}
			{% endfor %}

			{% for error in form.non_field_errors %}
				notification.warning("{{ error|clean_text }}", 'top', 'right');
			{% endfor %}
		{% endif %}
    </script>
{% endblock %}