{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SteerX - Home</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo">SteerX</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background: url('static/assets/img/home.jpg') bottom / contain;"></div>
                <div class="about-me">
                    <p><strong>SteerX - Services</strong><br><strong><em>"Rides made better"</em></strong><br><br></p><a class="btn btn-outline-primary" role="button" href="/register/">Register to Hire Us</a></div>
            </div>
        </section>
        <section class="portfolio-block photography"></section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-android-car"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Dependable doctor for your car<br></h3>
                                <p class="card-text"><br>We have medicines for your car with any type of disease<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-flame"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Don't control it forcibly.<br></h3>
                                <p class="card-text"><br>We are solving the problems so that you may not face it again.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-arrow-return-right"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Designed a dream with technology<br></h3>
                                <p class="card-text"><br>We are working hard so that you can move safely and smoothly to your destination<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">Contact US</a></div>
            <div class="social-icons">
                <a href="https://www.facebook.com"><i class="icon ion-social-facebook"></i></a>
                <a href="https://www.instagram.com"><i class="icon ion-social-instagram-outline"></i></a>
                <a href="https://www.twitter.com"><i class="icon ion-social-twitter"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>